TestWCF/Client/Service References/ServiceReference/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://provcon-faust/TestWCF/MyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://provcon-faust/TestWCF/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IMyService_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_TestPost_InputMessage">
    <wsdl:part name="parameters" element="tns:TestPost" />
  </wsdl:message>
  <wsdl:message name="IMyService_TestPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestPostResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/Hello" message="tns:IMyService_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/HelloResponse" message="tns:IMyService_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/TestPost" message="tns:IMyService_TestPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/TestPostResponse" message="tns:IMyService_TestPost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MyService" />
</wsdl:definitions>