TestWCF/Client/Service References/ServiceReference/MyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestWCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestWCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFoo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Foo" nillable="true" type="tns:Foo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoo" nillable="true" type="tns:ArrayOfFoo" />
  <xs:complexType name="Foo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Foo" nillable="true" type="tns:Foo" />
</xs:schema>